
#classify
  width 1000px
  height 520px
  background-color $white
  border-radius 4px
  
  > .field
    @include transition
      opacity 0.25s ease-in-out
      -moz-transform 0.25s ease-in-out
      -webkit-transform 0.25s ease-in-out
      transform 0.25s ease-in-out
    width 725px
    height: 500px
    position relative
    top 0
    left 0

    &.disabled {
      cursor: not-allowed;
    }
    
    > img
      width 725px
      height 500px
      position absolute
      top 0
      left 0
  
  .panel
    font-family "Open Sans"
    font-size 12px
    color $blue
    padding 10px
    
    .tagline
      font-weight 700
    .summary
      font-weight 200
    
    button
      height 40px
      color $blue
    
    button.category
      width 225px
      margin-bottom 10px
    
    button.discuss
      margin-top 205px
      width 100px
      float left
    button.next
      margin-top 205px
      width 100px
      float right


.toggles
  margin 10px 0
  padding 0
  
  > li
    display block
    
    > button
      @include linear-gradient($gray-light, $gray-dark)
      border 1px solid $gray-darker
      color $blue-dark
      cursor pointer
      display block
      font
        family inherit
        size 20
      padding 10px 10px
      text
        align left
        transform lowercase
      width 100%
      
      > .count
        float right
        
      &.active
        @include linear-gradient($blue)
        border-color transparent
        color $white
        
        &[value="cluster"]
          @include linear-gradient $cluster-color
        &[value="galaxy"]
          @include linear-gradient $galaxy-color
        &[value="artifact"]
          @include linear-gradient $artifact-color