
#classify
  width 1000px
  height 520px
  background-color $white
  border-radius 4px
  
  .field
    float left
    padding 10px
    width 745px
  .panel
    font-family "Open Sans"
    font-size 12px
    color $blue
    padding 10px
    
    .tagline
      font-weight 700
    .summary
      font-weight 200
    
    button
      height 40px
      color $blue
    
    button.category
      width 225px
      margin-bottom 10px
    
    button.discuss
      margin-top 205px
      width 100px
      float left
    button.next
      margin-top 205px
      width 100px
      float right