$background = #091A32
$white = #F1F1F1
$blue = #081935

$blue-dark = #001E29
$gray-light = #223366
$gray-dark = #222277

$cluster-color = #0BC7E8
$galaxy-color = #FD6500
$artifact-color = #B9CA00

@import './mixin'
@import './home'
@import './top_bar'
@import './nav'
@import './classify'

.stack > *
  display: none
  
  &.active
    display: block

a, [data-nav]
  cursor: pointer
  color: #0079ae
  
  &:hover
    color: #0079ae
  
  img
    border: none

body
  margin 0 auto
  background-color $background
  color $white
  border-top 6px solid $white
  
  #main
    margin 0 auto
    width 1000px
    margin-bottom 50px