@import "common";
.main #classifier {
	$blue: rgb(0, 66, 80);
	$blue-dark: #001e29;
	$gray-light: rgb(236, 236, 236);
	$gray-dark: rgb(227, 227, 227);
	$gray-darker: rgb(190, 190, 190);
	$orange-lighter: rgb(240, 172, 86);
	$orange-light: rgb(232, 135, 13);
	$orange-dark: rgb(224, 90, 18);
	$orange-darker: rgb(159, 61, 11);

	$classification-height: 500px;

	border: 5px solid $white;
	border-radius: 3px 0 0 3px;
	width: $three-quarter-width;

	> .image {
		@include box-sizing(border-box);
		cursor: crosshair;
		background: $white;
		height: $classification-height;
		position: relative;
		width: 100%;
		z-index: 2;

		> .map {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;

			// TODO: Replace this with a Leaflet map.
			> img {
				height: 100%;
				width: 100%;
			}
		}

		> .selection-area {
			@include transition(#{
				opacity 0.25s ease-in-out,
				-moz-transform 0.25s ease-in-out,
				-webkit-transform 0.25s ease-in-out,
				transform 0.25s ease-in-out
			});
			height: 100%;
			left: 0;
			position: relative;
			top: 0;
			width: 100%;
			z-index: 4;

			&.disabled {
				cursor: not-allowed;
			}

			> img {
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}

			> .scale {
				@include transition(width 0.5s ease-in-out);
				bottom: 10px;
				height: 7px;
				left: 10px;
				opacity: 0.75;
				pointer-events: none;
				position: absolute;
				width: 10px; // This will change depending on the image

				&:after {
					background: $white;
					content: " ";
					height: 1px;
					left: 0;
					margin-top: -1px;
					position: absolute;
					top: 50%;
					width: 100%;
				}

				> .mark {
					float: left;
					height: 100%;
					margin-left: 20%;
					position: relative;
					width: 0;

					&:after {
						background: $white;
						content: " ";
						height: 100%;
						left: 0;
						position: absolute;
						top: 0;
						width: 1px;
					}

					&:first-child {
						margin-left: 0;
					}
				}

				> .label {
					color: $white;
					font: {
						size: 11px;
						weight: bold;
					};
					left: 100%;
					line-height: 1;
					margin-left: 1em;
					position: absolute;
					top: -2px;
					white-space: nowrap;
				}
			}

			// Raphael's canvas
			// Styled inline by Raphael.
			> svg,
			> div {}
		}
	}

	> .options {
		height: $classification-height + 10;
		position: absolute;
		right: 0;
		top: 0;
		width: $quarter-width + $gutter-width;
    z-index: 0;
    
		> .steps {
			@include box-sizing(border-box);
			@include transition(#{
				opacity 0.25s ease-in-out,
				right 0.25s ease-in-out,
				-moz-transform 0.25s ease-in-out,
				-webkit-transform 0.25s ease-in-out
			});
			background: $white;
			border-radius: 0 3px 3px 0;
			box-shadow: 0 3px 3px -3px transparentize($black, 0.33);
			height: 100%;
			opacity: 1;
			padding: $gutter-width;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			z-index: 3;

			&.finished {
				opacity: 0.5;
				right: 100%;
				@include transform(scale(0.9));
			}

			[data-page] {
				display: none;

				&.active {
					display: block;
				}
			}

			h4 {
				margin: 0;
				text-align: center;
			}

			.toggles {
				margin: $gutter-width 0;
				padding: 0;

				> li {
					display: block;
					position: relative;
          
					> .divider {
            position: absolute;
            right: 50px;
            top: 1px;
            border-left: 1px solid $gray-darker;
            border-right: 1px solid white;
            width: 0px;
            height: 40px;
            padding: 0;
            margin: 0;
					}

					> button {
						@include linear-gradient($gray-light, $gray-dark);
						box-shadow: inset 0px 1px 0px white, 0 1px 3px rgba(0, 0, 0, .1);
						border: 1px solid $gray-darker;
						border-radius: 3px;
						color: $blue-dark;
						cursor: pointer;
						display: block;
						font: {
							family: inherit;
							size: 18px;
						};
						padding: $gutter-width*0.4 $gutter-width;
						margin: 0 0 3px 0;
						text: {
							align: left;
							transform: lowercase;
						};
						width: 100%;

						> .count {
              				float: right;
						}
					}

					> button[value="cluster"].active {
						color: $cluster-color;
					}

					> button[value="galaxy"].active {
						color: $galaxy-color;
					}

					> button[value="ghost"].active {
						color: $ghost-color;
					}

					> button[value="cross"].active {
						color: $cross-color;
					}

					> button[value="linear"].active {
						color: $linear-color;
					}
				}
			}

			.indicator {
				border-bottom: 1px solid $gray-dark;
				height: 90px;
				margin-bottom: $gutter-width;
				position: relative;
				text-align: center;

				> img {}

				> .points {
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
				}
			}

			.other-creatures {
				@include contain-floats;
				margin: $gutter-width 0;

				> h4 {
					margin-bottom: $gutter-width / 2;
				}

				> button {
					@include box-sizing(border-box);
					@include linear-gradient($gray-light, $gray-dark);
					border: 1px solid $gray-darker;
					border-radius: 3px;
					margin: 0px;
					cursor: pointer;
					color: $blue-dark;
					display: block;
					float: left;
					font: {
						family: inherit;
						size: inherit;
						weight: inherit;
					};
					padding: 10;
					width: 49%;

					&:first-of-type {
            margin-right: 1px;
					}

					&.active {
						@include linear-gradient($blue);
						border-color: transparent;
						color: $white;
					}
				}
			}

			.finished {
				position: absolute;
				bottom: 40px;
				padding: 10px 0;
				width: 215px;
				
				@include linear-gradient(#dddddd, #eeeeee);
        border: 1px solid #cccccc {
          radius: 3px;
        };
        box-shadow: 0 1px 0 #cccccc;
        color: $black;
        margin-top: 0px;
        font-size: 18px;
        font-weight: 500;
        text: {
          decoration: none;
          shadow: 2px 2px 3px #eeeeee;
        }

				&:disabled {
					opacity: 0.67;
				}
			}

			> .help {
				bottom: 0;
				font-size: 11px;
				left: 0;
				padding: ($gutter-width / 2) 0;
				position: absolute;
				text-align: center;
				width: 100%;

				> a {
					background: transparentize($black, 0.9);
					border-radius: 3px;
					color: inherit;
					display: inline-block;
					padding: 3px 6px;
					text-decoration: none;
				}
			}
		}

		> .summary {
		  color: #F1F1F1;
		  
			font: {
				size: 14px;
				weight: bold;
			};
			margin: $gutter-width/4;
			text-align: center;
      
      .feedback {
        position: static;
        height: 282px;
        width: 0px;
        padding-bottom: 60px;
        
        canvas {
          position: absolute;
          width: 249px;
          height: 286px;
          z-index: 1;
        }
        img {
          position: absolute;
          width: 245px;
          height: 282px;
          z-index: 0;
          border: 2px solid rgb(241,241,241);
        }
      }
      
			.favorite {

				.create {}

				.destroy {
					display: none;

					button {
						display: inline-block;
						font-size: 10px;
						padding: 0 2px;
						width: auto;
						color: #000000;
		  				background-color: rgb(241,241,241);
					}
				}
			}

			button {
				@include box-sizing(border-box);
				color: #000000;
		  		background-color: rgb(241,241,241);
				border: 0 {
					radius: 3px;
				};
				cursor: pointer;
				font: {
					family: inherit;
					size: inherit;
					weight: inherit;
				};
				padding: 5px 0;
				text-align: center;
				width: 100%;
			}
			> .talk {
				@include contain-floats;
        color: $white;
        position: absolute;
        bottom: 0px;
				button {
					width: 100%;

					&:first-child {
						margin-right: 1%;
					}
				}
			}
		}
	}

	&.can-favorite > .options > .summary {
		.favorite {
			display: block;
		}
	}

	&.is-favored > .options > .summary {
		.favorite {
			.create {
				display: none;
			}

			.destroy {
				display: block;
			}
		}
	}
}

.classifier.dialog {
	@include transition(opacity 0.25s ease-in-out);
	background: $white;
	border: {
		radius: 3px;
		top: 5px solid $blue;
	};
	margin-left: -130px;
	padding: ($gutter-width / 2) 0;
	position: absolute;
	opacity: 0;
	z-index: 50;

	.content {
		padding: ($gutter-width / 2) $gutter-width;
	}

	.buttons {
		border-top: 1px solid $gray-light;
		padding: ($gutter-width / 2) $gutter-width;
		text-align: center;

		button {
			@include box-sizing(border-box);
			@include linear-gradient($gray-light, $gray-dark);
			border: 1px solid $gray-darker;
			color: $blue-dark;
			font: {
				family: inherit;
				size: inherit;
				weight: inherit;
			};
			margin: 0 0.25em;
			padding: 0em 2em;
		}
	}

	&.open {
		opacity: 1;
	}
}

.dialog-blocker {
	@include transition(opacity 0.25s ease-in-out);
	background: transparentize($white, 0.75);
	position: absolute;
	z-index: 40;

	&.open {
		opacity: 1;
	}
}
