// Colors

$black: rgb(0, 0, 0);
$white: rgb(241, 241, 241);
$gray-light: #dbdbdb;
$gray-dark: rgb(227, 227, 227);
$gray-darker: rgb(190, 190, 190);

$blue: #0C0819;
$blue-dark: #091a32;
$blue-darker: #040d19;

$orange-light: #dddddd;
$orange: #eeeeee;
$orange-dark: #eeeeee;
$orange-darker: #dddddd;

// Classification types

$cluster-color: #DB9F00;
$galaxy-color: #9C62EE;
$ghost-color: #097d4e; 
$cross-color: #a20f32;
$linear-color: #3D75DB;

$cool-color: #001e29;

// Grid:

$twelfth-width: 65px;
$gutter-width: 20px;
$sixth-width: ($twelfth-width * 2) + $gutter-width;
$quarter-width: ($twelfth-width * 3) + ($gutter-width * 2);
$third-width: ($twelfth-width * 4) + ($gutter-width * 3);
$half-width: ($twelfth-width * 6) + ($gutter-width * 5);
$two-third-width: ($third-width * 2) + $gutter-width;
$three-quarter-width: ($quarter-width * 3) + ($gutter-width * 2) - 10;
$full-width: ($twelfth-width * 12) + ($gutter-width * 11);

// Cross-broswer:

@mixin border-radius($value: 0px) {
  -moz-border-radius: $value;
  -webkit-border-radius: $value;
  border-radius: $value;
}

@mixin box-shadow($value: 0 0 transparent) {
  -webkit-box-shadow: $value;
  box-shadow: $value;
}

@mixin box-sizing($value) {
  -moz-box-sizing: $value;
  -webkit-box-sizing: $value;
  box-sizing: $value;
}

@mixin transform($value) {
  -moz-transform: $value;
  -webkit-transform: $value;
  -ms-transform: $value;
  transform: $value;
}

@mixin transition($value) {
  -moz-transition: $value;
  -ms-transition: $value;
  -webkit-transition: $value;
  transition: $value;
}

@mixin linear-gradient($start: transparent, $end: false) {
  // Use a same-to-same gradient to override a regular one.
  @if not $end {$end: $start;};

  background-image: -moz-linear-gradient(top, $start, $end);
  background-image: -ms-linear-gradient(top, $start, $end);
  background-image: -webkit-linear-gradient(top, $start, $end);
  background-image: linear-gradient(top, $start, $end);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$start}', endColorstr='#{$end}')";
}

@mixin radial-gradient($args) {
  background: -moz-radial-gradient($args);
  background: -webkit-radial-gradient($args);
  background: radial-gradient($args);
}

// Misc. styles:

@mixin action-button($icon: false, $position: 0 0) {
  // @include box-shadow(1px 1px $orange-lightest inset);
  @include box-sizing(border-box);
  // @include linear-gradient($orange-lightest, $orange-dark);
  // border: 1px solid $orange-darkest;
  color: white;
  cursor: pointer;
  display: inline-block;
  font: {
    family: inherit;
    size: inherit;
    weight: inherit;
  };
  margin: 0;
  padding: 10px 10px 5px;
  position: relative;
  text: {
    align: center;
    decoration: none;
  };

  @if $icon {
    padding-right: 25px;

    &:after {
      // @include box-shadow(1px 1px $orange-lightest inset);
      @include box-sizing(border-box);
      background: url($icon) $position no-repeat;
      // border-left: 1px solid $orange-darkest;
      content: " ";
      display: block;
      height: 100%;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
    }
  }
}

.completion-note {
  padding: $gutter-width/2;
  margin: 0px 0 10px 0;
  border-radius: 0;
  box-shadow: 0 3px 3px -3px transparentize($black, 0.33);
  left: 0;
  text-align: center;
  width: 980px;
  z-index: 0;
  background: #ff9540;  
    > p {
      margin: 0;
      padding: 0;
    }
  }

@mixin contain-floats {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

#try-list {
  display: block;
  margin: 5px 0 5px 0;
}

.try-project {
  position: relative;
  border: 3px solid #ffffff;
  height: 160px;
  display: inline-block;
  width: 235px;
  padding: 0 0px 5px 0;
  margin: 0 8px 0 0;
  overflow: hidden;

    &.last {
      margin-right: 0;
      margin-left: 2px;
    }

    img {
      width: 100%;
    }

    a img {
      border: none;
    }
}

span.try-me {
  position: absolute;
  width: 225px;
  left:0;
  bottom: 0px;
  margin: 0px;
  padding: 5px;
  background: rgba(250,250,250,0.85);
  text-align: center;
  color: black;
  font-size: 0.9em;
  font-weight: 400;
}