@import "common";

.main [data-page="guide"] {
  div.content {
     padding: 5px 20px;
  }

  ul.right {
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
  }

  h3.smaller {
    padding-top: 20px;
    font-size: 20px;
  }

  .dive-in {
    clear:both;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    box-shadow: inset 0px 1px 0px white, 0 1px 3px rgba(0, 0, 0, .1);
    color: black;
    float: right;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px white;
    background: #EFEFEF;  
  }
  
  div.images {
    text-align: left;
    width: 700px;
    margin: 0 0 10px 0;
    padding: 5px 0px;
  }
  
  img.large {
    float: left;
    width: 440px;
    padding: 0 10px 10px 0; 
  }
  
  img.medium {
    float: left;
    width: 215px;
    padding: 0 10px 10px 0;   
  }

  img.medium_3 {
    float: left;
    width: 140px;
    padding: 0 10px 10px 0;  
  }
  
  img.small {
    float: left;
    width: 138px;
  }
  
  .caption {
  	padding: 0 10px 10px 0; 
    float: left;
    width: 440px;
  	font-size: 0.9em;
  	font-style: italic;
  }
  
  a.to-classify {
    @include linear-gradient($orange, $orange-dark);
    border: 1px solid $orange-darker {
      radius: 3px;
    };
    box-shadow: 0 1px 0 $orange-light inset;
    color: rgb(4, 13, 25);
    font-weight: bold;
    padding: 5px 20px;
    position: absolute;
    right: 20px;
    text: {
      decoration: none;
      shadow: 0 1px 0px $orange-dark;
    }
    top: 65px;
  }
  
  > [data-page="data"] {
    > section > section {
      border-top: 1px solid $gray-light;

      .example {
        float: left;
        width: $full-width * (2 / 5);

        & + .content {
          float: left;
          margin: $gutter-width;
          width: ($full-width * (3 / 5)) - ($gutter-width * 2);

          > :first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
  
  > [data-page="type"] > section > section {
    @include contain-floats;
    border-top: 1px solid $gray-light;

    .content {
      position: relative;
      margin: $gutter-width $gutter-width $gutter-width*2 $gutter-width;

        p {
          clear:both;
        }

        h4 {
          clear:both;
        }

        h3 {
          clear:both;
        }

        .left-col {
          margin-top: 20px;
          position: relative;
          float: left;
          width: 450px;
          margin-right: $gutter-width/2;
          clear:both;

          > :first-child {
            margin-top: 0;
          }
        }

        .right-col {
          margin-top: 20px;
          position: relative;
          float: left;
          width: 450px;
          margin-left: $gutter-width/2;

          > :first-child {
            margin-top: 0;
          }
        }
    }
  }

  [data-page="organizations"] {
    text-align: center;

    figure {
      @include box-sizing(border-box);
      display: inline-block;
      height: 125px;
      margin: 0 0 3px;
      line-height: 140px;
      padding: 10px;
      vertical-align: middle;
      width: 19%;

      img {
        max-height: 100px;
        max-width: 100px;
      }

      figcaption {}
    }
  }
}
