@import "common";

.main [data-page="home"] {
  #banner {
    border-top: 5px solid #000000;
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
  }

  .dive-in {
    @include linear-gradient($orange, $orange-dark);
    border: 1px solid $orange-darker {
      radius: 3px;
    };
    box-shadow: 0 1px 0 $orange-light inset;
    color: $white;
    float: right;
    margin-top: 10px;
    font-size: 20px;
    padding: ($gutter-width / 2) ($gutter-width * 3);
    text: {
      decoration: none;
      shadow: 0 1px 0px $orange-dark;
    }
  }
}
