@import "common";

.main [data-page="home"] {
  #banner {
    border: 3px solid #ffffff;
    height: 400px;
    width: 984px;
    margin-bottom: 0px; 
    padding: 5px;
  }
  
  h2 {
    font-size: 1.7em;
    font-weight: 800;
  } 
  
  p {
    font-size: 0.9em;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  .dive-in {
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    box-shadow: inset 0px 1px 0px white, 0 1px 3px rgba(0, 0, 0, .1);
    color: black;
    float: right;
    margin-top: 0px;
    font-size: 18px;
    font-weight: 600;
    padding: 7px 40px;
    text-decoration: none;
    text-shadow: 0px 1px 0px white;
    background: #EFEFEF;  
  }
  
  .dive-in:hover {
    border: 1px solid #979797;
  }
  
  .dive-in:active {
    box-shadow: inset 0px 0px 2px rgba(0,0,0,.2);
  }

  .completion-note {
    background: $white;
    padding: $gutter-width/2;
    border-radius: 0 3px 3px 0;
    box-shadow: 0 3px 3px -3px transparentize($black, 0.33);
    position: absolute;
    left: 0;
    top: 515px;
    text-align: center;
    width: 980px;
      z-index: 0;
      background: $white;

      > p {
        margin: 0;
        padding: 0;
      }
    }
  
}
