@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\000033}}
.main #classifier {
  border: 5px solid #f1f1f1;
  border-radius: 3px 0 0 3px;
  width: 735px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\0000320}}
  .main #classifier > .image {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: crosshair;
    background: #f1f1f1;
    height: 500px;
    position: relative;
    width: 100%;
    z-index: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\0000329}}
    .main #classifier > .image > .map {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\0000337}}
      .main #classifier > .image > .map > img {
        height: 100%;
        width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\0000343}}
    .main #classifier > .image > .selection-area {
      -moz-transition: opacity 0.25s ease-in-out, -moz-transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out, transform 0.25s ease-in-out;
      -ms-transition: opacity 0.25s ease-in-out, -moz-transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out, transform 0.25s ease-in-out;
      -webkit-transition: opacity 0.25s ease-in-out, -moz-transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out, transform 0.25s ease-in-out;
      transition: opacity 0.25s ease-in-out, -moz-transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out, transform 0.25s ease-in-out;
      height: 100%;
      left: 0;
      position: relative;
      top: 0;
      width: 100%;
      z-index: 4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\0000357}}
      .main #classifier > .image > .selection-area.disabled {
        cursor: not-allowed; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\0000361}}
      .main #classifier > .image > .selection-area > img {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\0000369}}
      .main #classifier > .image > .selection-area > .scale {
        -moz-transition: width 0.5s ease-in-out;
        -ms-transition: width 0.5s ease-in-out;
        -webkit-transition: width 0.5s ease-in-out;
        transition: width 0.5s ease-in-out;
        bottom: 10px;
        height: 7px;
        left: 10px;
        opacity: 0.75;
        pointer-events: none;
        position: absolute;
        width: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\0000379}}
        .main #classifier > .image > .selection-area > .scale:after {
          background: #f1f1f1;
          content: " ";
          height: 1px;
          left: 0;
          margin-top: -1px;
          position: absolute;
          top: 50%;
          width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\0000390}}
        .main #classifier > .image > .selection-area > .scale > .mark {
          float: left;
          height: 100%;
          margin-left: 20%;
          position: relative;
          width: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\0000397}}
          .main #classifier > .image > .selection-area > .scale > .mark:after {
            background: #f1f1f1;
            content: " ";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003107}}
          .main #classifier > .image > .selection-area > .scale > .mark:first-child {
            margin-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003112}}
        .main #classifier > .image > .selection-area > .scale > .label {
          color: #f1f1f1;
          font-size: 11px;
          font-weight: bold;
          left: 100%;
          line-height: 1;
          margin-left: 1em;
          position: absolute;
          top: -2px;
          white-space: nowrap; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003134}}
  .main #classifier > .options {
    height: 510px;
    position: absolute;
    right: 0;
    top: 0;
    width: 255px;
    z-index: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003142}}
    .main #classifier > .options > .steps {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -moz-transition: opacity 0.25s ease-in-out, right 0.25s ease-in-out, -moz-transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
      -ms-transition: opacity 0.25s ease-in-out, right 0.25s ease-in-out, -moz-transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
      -webkit-transition: opacity 0.25s ease-in-out, right 0.25s ease-in-out, -moz-transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
      transition: opacity 0.25s ease-in-out, right 0.25s ease-in-out, -moz-transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
      background: #f1f1f1;
      border-radius: 0 3px 3px 0;
      box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.67);
      height: 100%;
      opacity: 1;
      padding: 20px;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 3; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003162}}
      .main #classifier > .options > .steps.finished {
        opacity: 0.5;
        right: 100%;
        -moz-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003168}}
      .main #classifier > .options > .steps [data-page] {
        display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003171}}
        .main #classifier > .options > .steps [data-page].active {
          display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003176}}
      .main #classifier > .options > .steps h4 {
        margin: 0;
        text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003181}}
      .main #classifier > .options > .steps .toggles {
        margin: 20px 0;
        padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003185}}
        .main #classifier > .options > .steps .toggles > li {
          display: block;
          position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003189}}
          .main #classifier > .options > .steps .toggles > li > .divider {
            position: absolute;
            right: 50px;
            top: 1px;
            border-left: 1px solid #bebebe;
            border-right: 1px solid white;
            width: 0px;
            height: 40px;
            padding: 0;
            margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003201}}
          .main #classifier > .options > .steps .toggles > li > button {
            background-image: -moz-linear-gradient(top, #ececec, #e3e3e3);
            background-image: -ms-linear-gradient(top, #ececec, #e3e3e3);
            background-image: -webkit-linear-gradient(top, #ececec, #e3e3e3);
            background-image: linear-gradient(top, #ececec, #e3e3e3);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#e3e3e3')";
            box-shadow: inset 0px 1px 0px white, 0 1px 3px rgba(0, 0, 0, 0.1);
            border: 1px solid #bebebe;
            border-radius: 3px;
            color: #001e29;
            cursor: pointer;
            display: block;
            font-family: inherit;
            font-size: 18px;
            padding: 8px 20px;
            margin: 0 0 3px 0;
            text-align: left;
            text-transform: lowercase;
            width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003221}}
            .main #classifier > .options > .steps .toggles > li > button > .count {
              float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003225}}
            .main #classifier > .options > .steps .toggles > li > button.active {
              color: #fd6500; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003232}}
      .main #classifier > .options > .steps .indicator {
        border-bottom: 1px solid #e3e3e3;
        height: 90px;
        margin-bottom: 20px;
        position: relative;
        text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003241}}
        .main #classifier > .options > .steps .indicator > .points {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003250}}
      .main #classifier > .options > .steps .other-creatures {
        margin: 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/common\.scss}line{font-family:\00003135}}
        .main #classifier > .options > .steps .other-creatures:after {
          content: "";
          clear: both;
          display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003254}}
        .main #classifier > .options > .steps .other-creatures > h4 {
          margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003258}}
        .main #classifier > .options > .steps .other-creatures > button {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          background-image: -moz-linear-gradient(top, #ececec, #e3e3e3);
          background-image: -ms-linear-gradient(top, #ececec, #e3e3e3);
          background-image: -webkit-linear-gradient(top, #ececec, #e3e3e3);
          background-image: linear-gradient(top, #ececec, #e3e3e3);
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#e3e3e3')";
          border: 1px solid #bebebe;
          border-radius: 3px;
          margin: 0px;
          cursor: pointer;
          color: #001e29;
          display: block;
          float: left;
          font-family: inherit;
          font-size: inherit;
          font-weight: inherit;
          padding: 10;
          width: 49%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003276}}
          .main #classifier > .options > .steps .other-creatures > button:first-of-type {
            margin-right: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003280}}
          .main #classifier > .options > .steps .other-creatures > button.active {
            background-image: -moz-linear-gradient(top, #004250, #004250);
            background-image: -ms-linear-gradient(top, #004250, #004250);
            background-image: -webkit-linear-gradient(top, #004250, #004250);
            background-image: linear-gradient(top, #004250, #004250);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#004250', endColorstr='#004250')";
            border-color: transparent;
            color: #f1f1f1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003288}}
      .main #classifier > .options > .steps .finished {
        position: absolute;
        bottom: 40px;
        padding: 10px 0;
        width: 215px;
        background-image: -moz-linear-gradient(top, #dddddd, #eeeeee);
        background-image: -ms-linear-gradient(top, #dddddd, #eeeeee);
        background-image: -webkit-linear-gradient(top, #dddddd, #eeeeee);
        background-image: linear-gradient(top, #dddddd, #eeeeee);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#eeeeee')";
        border: 1px solid #cccccc;
          border-radius: 3px;
        box-shadow: 0 1px 0 #cccccc;
        color: black;
        margin-top: 0px;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        text-shadow: 2px 2px 3px #eeeeee; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003308}}
        .main #classifier > .options > .steps .finished:disabled {
          opacity: 0.67; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003313}}
      .main #classifier > .options > .steps > .help {
        bottom: 0;
        font-size: 11px;
        left: 0;
        padding: 10px 0;
        position: absolute;
        text-align: center;
        width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003322}}
        .main #classifier > .options > .steps > .help > a {
          background: rgba(0, 0, 0, 0.1);
          border-radius: 3px;
          color: inherit;
          display: inline-block;
          padding: 3px 6px;
          text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003333}}
    .main #classifier > .options > .summary {
      color: #F1F1F1;
      font-size: 14px;
      font-weight: bold;
      margin: 20px;
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003343}}
      .main #classifier > .options > .summary .feedback {
        position: static;
        height: 248px;
        width: 0px;
        padding-bottom: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003349}}
        .main #classifier > .options > .summary .feedback canvas {
          position: absolute;
          z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003353}}
        .main #classifier > .options > .summary .feedback img {
          position: absolute;
          width: 215px;
          height: 248px;
          z-index: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003365}}
      .main #classifier > .options > .summary .favorite .destroy {
        display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003368}}
        .main #classifier > .options > .summary .favorite .destroy button {
          display: inline-block;
          font-size: 10px;
          padding: 0 2px;
          width: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003377}}
      .main #classifier > .options > .summary button {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: #040d19;
        border: 0;
          border-radius: 3px;
        color: #f1f1f1;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        padding: 5px 0;
        text-align: center;
        width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003395}}
      .main #classifier > .options > .summary > .talk {
        color: #f1f1f1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/common\.scss}line{font-family:\00003135}}
        .main #classifier > .options > .summary > .talk:after {
          content: "";
          clear: both;
          display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003398}}
        .main #classifier > .options > .summary > .talk button {
          width: 49%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003401}}
          .main #classifier > .options > .summary > .talk button:first-child {
            margin-right: 1%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003410}}
  .main #classifier.can-favorite > .options > .summary .favorite {
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003417}}
  .main #classifier.is-favored > .options > .summary .favorite .create {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003421}}
  .main #classifier.is-favored > .options > .summary .favorite .destroy {
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003428}}
.classifier.dialog {
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  background: #f1f1f1;
  border-radius: 3px;
  border-top: 5px solid #004250;
  margin-left: -130px;
  padding: 10px 0;
  position: absolute;
  opacity: 0;
  z-index: 50; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003441}}
  .classifier.dialog .content {
    padding: 10px 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003445}}
  .classifier.dialog .buttons {
    border-top: 1px solid #ececec;
    padding: 10px 20px;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003450}}
    .classifier.dialog .buttons button {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-image: -moz-linear-gradient(top, #ececec, #e3e3e3);
      background-image: -ms-linear-gradient(top, #ececec, #e3e3e3);
      background-image: -webkit-linear-gradient(top, #ececec, #e3e3e3);
      background-image: linear-gradient(top, #ececec, #e3e3e3);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#e3e3e3')";
      border: 1px solid #bebebe;
      color: #001e29;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      margin: 0 0.25em;
      padding: 0em 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003465}}
  .classifier.dialog.open {
    opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003470}}
.dialog-blocker {
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  background: rgba(241, 241, 241, 0.25);
  position: absolute;
  z-index: 40; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003476}}
  .dialog-blocker.open {
    opacity: 1; }
