@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\000033}}
.main #classifier {
  border: 5px solid #f1f1f1;
  border-radius: 3px 0 0 3px;
  width: 745px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\0000320}}
  .main #classifier > .image {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: crosshair;
    background: #f1f1f1;
    height: 582px;
    position: relative;
    width: 100%;
    z-index: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\0000329}}
    .main #classifier > .image > .map {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\0000337}}
      .main #classifier > .image > .map > img {
        height: 100%;
        width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\0000343}}
    .main #classifier > .image > .selection-area {
      -moz-transition: opacity 0.25s ease-in-out, -moz-transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out, transform 0.25s ease-in-out;
      -ms-transition: opacity 0.25s ease-in-out, -moz-transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out, transform 0.25s ease-in-out;
      -webkit-transition: opacity 0.25s ease-in-out, -moz-transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out, transform 0.25s ease-in-out;
      transition: opacity 0.25s ease-in-out, -moz-transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out, transform 0.25s ease-in-out;
      height: 100%;
      left: 0;
      position: relative;
      top: 0;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\0000356}}
      .main #classifier > .image > .selection-area.disabled {
        cursor: not-allowed; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\0000360}}
      .main #classifier > .image > .selection-area > img {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\0000368}}
      .main #classifier > .image > .selection-area > .scale {
        -moz-transition: width 0.5s ease-in-out;
        -ms-transition: width 0.5s ease-in-out;
        -webkit-transition: width 0.5s ease-in-out;
        transition: width 0.5s ease-in-out;
        bottom: 10px;
        height: 7px;
        left: 10px;
        opacity: 0.75;
        pointer-events: none;
        position: absolute;
        width: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\0000378}}
        .main #classifier > .image > .selection-area > .scale:after {
          background: #f1f1f1;
          content: " ";
          height: 1px;
          left: 0;
          margin-top: -1px;
          position: absolute;
          top: 50%;
          width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\0000389}}
        .main #classifier > .image > .selection-area > .scale > .mark {
          float: left;
          height: 100%;
          margin-left: 20%;
          position: relative;
          width: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\0000396}}
          .main #classifier > .image > .selection-area > .scale > .mark:after {
            background: #f1f1f1;
            content: " ";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003106}}
          .main #classifier > .image > .selection-area > .scale > .mark:first-child {
            margin-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003111}}
        .main #classifier > .image > .selection-area > .scale > .label {
          color: #f1f1f1;
          font-size: 11px;
          font-weight: bold;
          left: 100%;
          line-height: 1;
          margin-left: 1em;
          position: absolute;
          top: -2px;
          white-space: nowrap; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003133}}
  .main #classifier > .options {
    height: 592px;
    position: absolute;
    right: 0;
    top: 0;
    width: 255px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003140}}
    .main #classifier > .options > .steps {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -moz-transition: opacity 0.25s ease-in-out, right 0.25s ease-in-out, -moz-transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
      -ms-transition: opacity 0.25s ease-in-out, right 0.25s ease-in-out, -moz-transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
      -webkit-transition: opacity 0.25s ease-in-out, right 0.25s ease-in-out, -moz-transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
      transition: opacity 0.25s ease-in-out, right 0.25s ease-in-out, -moz-transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
      background: #f1f1f1;
      border-radius: 0 3px 3px 0;
      box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.67);
      height: 100%;
      opacity: 1;
      padding: 20px;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003160}}
      .main #classifier > .options > .steps.finished {
        opacity: 0.5;
        right: 100%;
        -moz-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003166}}
      .main #classifier > .options > .steps [data-page] {
        display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003169}}
        .main #classifier > .options > .steps [data-page].active {
          display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003174}}
      .main #classifier > .options > .steps h4 {
        margin: 0;
        text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003179}}
      .main #classifier > .options > .steps .toggles {
        margin: 20px 0;
        padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003183}}
        .main #classifier > .options > .steps .toggles > li {
          display: block;
          position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003187}}
          .main #classifier > .options > .steps .toggles > li > .divider {
            position: absolute;
            right: 50px;
            top: 1px;
            border-left: 1px solid #bebebe;
            border-right: 1px solid white;
            width: 0px;
            height: 40px;
            padding: 0;
            margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003199}}
          .main #classifier > .options > .steps .toggles > li > button {
            background-image: -moz-linear-gradient(top, #ececec, #e3e3e3);
            background-image: -ms-linear-gradient(top, #ececec, #e3e3e3);
            background-image: -webkit-linear-gradient(top, #ececec, #e3e3e3);
            background-image: linear-gradient(top, #ececec, #e3e3e3);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#e3e3e3')";
            border: 1px solid #bebebe;
            border-radius: 3px;
            color: #001e29;
            cursor: pointer;
            display: block;
            font-family: inherit;
            font-size: 18px;
            padding: 8px 20px;
            margin: 0 0 3px 0;
            text-align: left;
            text-transform: lowercase;
            width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003218}}
            .main #classifier > .options > .steps .toggles > li > button > .count {
              float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003222}}
            .main #classifier > .options > .steps .toggles > li > button.active {
              background-image: -moz-linear-gradient(top, #004250, #004250);
              background-image: -ms-linear-gradient(top, #004250, #004250);
              background-image: -webkit-linear-gradient(top, #004250, #004250);
              background-image: linear-gradient(top, #004250, #004250);
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#004250', endColorstr='#004250')";
              border-color: transparent;
              color: #f1f1f1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003227}}
              .main #classifier > .options > .steps .toggles > li > button.active[value="cluster"] {
                background-image: -moz-linear-gradient(top, #fd6500, #fd6500);
                background-image: -ms-linear-gradient(top, #fd6500, #fd6500);
                background-image: -webkit-linear-gradient(top, #fd6500, #fd6500);
                background-image: linear-gradient(top, #fd6500, #fd6500);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd6500', endColorstr='#fd6500')"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003228}}
              .main #classifier > .options > .steps .toggles > li > button.active[value="galaxy"] {
                background-image: -moz-linear-gradient(top, #c512e0, #c512e0);
                background-image: -ms-linear-gradient(top, #c512e0, #c512e0);
                background-image: -webkit-linear-gradient(top, #c512e0, #c512e0);
                background-image: linear-gradient(top, #c512e0, #c512e0);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#c512e0', endColorstr='#c512e0')"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003229}}
              .main #classifier > .options > .steps .toggles > li > button.active[value="ghost"] {
                background-image: -moz-linear-gradient(top, #b9ca00, #b9ca00);
                background-image: -ms-linear-gradient(top, #b9ca00, #b9ca00);
                background-image: -webkit-linear-gradient(top, #b9ca00, #b9ca00);
                background-image: linear-gradient(top, #b9ca00, #b9ca00);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#b9ca00', endColorstr='#b9ca00')"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003230}}
              .main #classifier > .options > .steps .toggles > li > button.active[value="cross"] {
                background-image: -moz-linear-gradient(top, #0bc7e8, #0bc7e8);
                background-image: -ms-linear-gradient(top, #0bc7e8, #0bc7e8);
                background-image: -webkit-linear-gradient(top, #0bc7e8, #0bc7e8);
                background-image: linear-gradient(top, #0bc7e8, #0bc7e8);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0bc7e8', endColorstr='#0bc7e8')"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003231}}
              .main #classifier > .options > .steps .toggles > li > button.active[value="linear"] {
                background-image: -moz-linear-gradient(top, #001e29, #001e29);
                background-image: -ms-linear-gradient(top, #001e29, #001e29);
                background-image: -webkit-linear-gradient(top, #001e29, #001e29);
                background-image: linear-gradient(top, #001e29, #001e29);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#001e29', endColorstr='#001e29')"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003237}}
      .main #classifier > .options > .steps .indicator {
        border-bottom: 1px solid #e3e3e3;
        height: 90px;
        margin-bottom: 20px;
        position: relative;
        text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003246}}
        .main #classifier > .options > .steps .indicator > .points {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003255}}
      .main #classifier > .options > .steps .other-creatures {
        margin: 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/common\.scss}line{font-family:\00003135}}
        .main #classifier > .options > .steps .other-creatures:after {
          content: "";
          clear: both;
          display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003259}}
        .main #classifier > .options > .steps .other-creatures > h4 {
          margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003263}}
        .main #classifier > .options > .steps .other-creatures > button {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          background-image: -moz-linear-gradient(top, #ececec, #e3e3e3);
          background-image: -ms-linear-gradient(top, #ececec, #e3e3e3);
          background-image: -webkit-linear-gradient(top, #ececec, #e3e3e3);
          background-image: linear-gradient(top, #ececec, #e3e3e3);
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#e3e3e3')";
          border: 1px solid #bebebe;
          border-radius: 3px;
          margin: 0px;
          cursor: pointer;
          color: #001e29;
          display: block;
          float: left;
          font-family: inherit;
          font-size: inherit;
          font-weight: inherit;
          padding: 10;
          width: 49%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003281}}
          .main #classifier > .options > .steps .other-creatures > button:first-of-type {
            margin-right: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003285}}
          .main #classifier > .options > .steps .other-creatures > button.active {
            background-image: -moz-linear-gradient(top, #004250, #004250);
            background-image: -ms-linear-gradient(top, #004250, #004250);
            background-image: -webkit-linear-gradient(top, #004250, #004250);
            background-image: linear-gradient(top, #004250, #004250);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#004250', endColorstr='#004250')";
            border-color: transparent;
            color: #f1f1f1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003293}}
      .main #classifier > .options > .steps .finished {
        position: absolute;
        bottom: 40px;
        padding: 10px 0;
        width: 215px;
        background-image: -moz-linear-gradient(top, #dddddd, #eeeeee);
        background-image: -ms-linear-gradient(top, #dddddd, #eeeeee);
        background-image: -webkit-linear-gradient(top, #dddddd, #eeeeee);
        background-image: linear-gradient(top, #dddddd, #eeeeee);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#eeeeee')";
        border: 1px solid #cccccc;
          border-radius: 3px;
        box-shadow: 0 1px 0 #cccccc;
        color: black;
        margin-top: 0px;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        text-shadow: 2px 2px 3px #eeeeee; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003313}}
        .main #classifier > .options > .steps .finished:disabled {
          opacity: 0.67; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003318}}
      .main #classifier > .options > .steps > .help {
        bottom: 0;
        font-size: 11px;
        left: 0;
        padding: 10px 0;
        position: absolute;
        text-align: center;
        width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003327}}
        .main #classifier > .options > .steps > .help > a {
          background: rgba(0, 0, 0, 0.1);
          border-radius: 3px;
          color: inherit;
          display: inline-block;
          padding: 3px 6px;
          text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003338}}
    .main #classifier > .options > .summary {
      font-size: 14px;
      font-weight: bold;
      margin: 20px;
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003346}}
      .main #classifier > .options > .summary .map-toggle {
        margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003349}}
        .main #classifier > .options > .summary .map-toggle img {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border: 3px solid #f1f1f1;
          box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.67);
          cursor: pointer;
          display: block;
          height: 130px;
          width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003359}}
        .main #classifier > .options > .summary .map-toggle > .thumbnail > img {
          display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003364}}
      .main #classifier > .options > .summary .information {
        font-size: 12px;
        margin: 1em 0 50px;
        text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003370}}
        .main #classifier > .options > .summary .information > div .label {
          display: inline-block;
          width: 40%;
          vertical-align: bottom; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003376}}
        .main #classifier > .options > .summary .information > div .value {
          display: inline-block;
          max-width: 45%;
          overflow: hidden;
          vertical-align: bottom; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003385}}
      .main #classifier > .options > .summary .favorite {
        display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003390}}
        .main #classifier > .options > .summary .favorite .destroy {
          display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003393}}
          .main #classifier > .options > .summary .favorite .destroy button {
            display: inline-block;
            font-size: 10px;
            padding: 0 2px;
            width: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003402}}
      .main #classifier > .options > .summary button {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: #040d19;
        border: 0;
          border-radius: 3px;
        color: #f1f1f1;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        padding: 5px 0;
        text-align: center;
        width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003420}}
      .main #classifier > .options > .summary > .talk {
        color: #f1f1f1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/common\.scss}line{font-family:\00003135}}
        .main #classifier > .options > .summary > .talk:after {
          content: "";
          clear: both;
          display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003423}}
        .main #classifier > .options > .summary > .talk button {
          width: 49%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003426}}
          .main #classifier > .options > .summary > .talk button:first-child {
            margin-right: 1%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003435}}
  .main #classifier.show-map > .image > .selection-area {
    -moz-transform: scale(0.01);
    -webkit-transform: scale(0.01);
    -ms-transform: scale(0.01);
    transform: scale(0.01);
    opacity: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003441}}
  .main #classifier.show-map > .options > .summary > .map-toggle > .thumbnail > img {
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003445}}
  .main #classifier.show-map > .options > .summary > .map-toggle > .map > img {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003452}}
  .main #classifier.can-favorite > .options > .summary .favorite {
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003459}}
  .main #classifier.is-favored > .options > .summary .favorite .create {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003463}}
  .main #classifier.is-favored > .options > .summary .favorite .destroy {
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003470}}
.classifier.dialog {
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  background: #f1f1f1;
  border-radius: 3px;
  border-top: 5px solid #004250;
  margin-left: -130px;
  padding: 10px 0;
  position: absolute;
  opacity: 0;
  z-index: 50; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003483}}
  .classifier.dialog .content {
    padding: 10px 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003487}}
  .classifier.dialog .buttons {
    border-top: 1px solid #ececec;
    padding: 10px 20px;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003492}}
    .classifier.dialog .buttons button {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-image: -moz-linear-gradient(top, #ececec, #e3e3e3);
      background-image: -ms-linear-gradient(top, #ececec, #e3e3e3);
      background-image: -webkit-linear-gradient(top, #ececec, #e3e3e3);
      background-image: linear-gradient(top, #ececec, #e3e3e3);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#e3e3e3')";
      border: 1px solid #bebebe;
      color: #001e29;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      margin: 0 0.25em;
      padding: 0em 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003507}}
  .classifier.dialog.open {
    opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003512}}
.dialog-blocker {
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  background: rgba(241, 241, 241, 0.25);
  position: absolute;
  z-index: 40; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/classification\.scss}line{font-family:\00003518}}
  .dialog-blocker.open {
    opacity: 1; }
