@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/guide\.scss}line{font-family:\000034}}
.main [data-page="guide"] div.content {
  padding: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/guide\.scss}line{font-family:\000038}}
.main [data-page="guide"] div.images {
  text-align: left;
  width: 700px;
  margin: 0 0 10px 0;
  padding: 5px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/guide\.scss}line{font-family:\0000315}}
.main [data-page="guide"] img.large {
  width: 330px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/guide\.scss}line{font-family:\0000319}}
.main [data-page="guide"] img.medium_big {
  width: 260px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/guide\.scss}line{font-family:\0000323}}
.main [data-page="guide"] img.medium {
  width: 230px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/guide\.scss}line{font-family:\0000327}}
.main [data-page="guide"] img.small {
  width: 138px;
  height: 138px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/guide\.scss}line{font-family:\0000332}}
.main [data-page="guide"] div.images span.caption {
  width: 600px;
  font-size: 0.9em;
  font-style: italic; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/guide\.scss}line{font-family:\0000338}}
.main [data-page="guide"] a.to-classify {
  background-image: -moz-linear-gradient(top, #eeeeee, #eeeeee);
  background-image: -ms-linear-gradient(top, #eeeeee, #eeeeee);
  background-image: -webkit-linear-gradient(top, #eeeeee, #eeeeee);
  background-image: linear-gradient(top, #eeeeee, #eeeeee);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#eeeeee')";
  border: 1px solid #dddddd;
    border-radius: 3px;
  box-shadow: 0 1px 0 #dddddd inset;
  color: #040d19;
  font-weight: bold;
  padding: 5px 20px;
  position: absolute;
  right: 20px;
  text-decoration: none;
  text-shadow: 0 1px 0px #eeeeee;
  top: 65px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/guide\.scss}line{font-family:\0000357}}
.main [data-page="guide"] > [data-page="data"] > section > section {
  border-top: 1px solid #dbdbdb; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/guide\.scss}line{font-family:\0000360}}
  .main [data-page="guide"] > [data-page="data"] > section > section .example {
    float: left;
    width: 400px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/guide\.scss}line{font-family:\0000364}}
    .main [data-page="guide"] > [data-page="data"] > section > section .example + .content {
      float: left;
      margin: 20px;
        margin-right: 0;
      width: 560px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/guide\.scss}line{font-family:\0000369}}
      .main [data-page="guide"] > [data-page="data"] > section > section .example + .content > :first-child {
        margin-top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/guide\.scss}line{font-family:\0000377}}
.main [data-page="guide"] > [data-page="type"] > section > section {
  border-top: 1px solid #dbdbdb; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/common\.scss}line{font-family:\00003135}}
  .main [data-page="guide"] > [data-page="type"] > section > section:after {
    content: "";
    clear: both;
    display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/guide\.scss}line{font-family:\0000381}}
  .main [data-page="guide"] > [data-page="type"] > section > section .content {
    margin: 20px;
      margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/guide\.scss}line{font-family:\0000386}}
.main [data-page="guide"] [data-page="organizations"] {
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/guide\.scss}line{font-family:\0000389}}
  .main [data-page="guide"] [data-page="organizations"] figure {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 125px;
    margin: 0 0 3px;
    line-height: 140px;
    padding: 10px;
    vertical-align: middle;
    width: 19%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/guide\.scss}line{font-family:\0000399}}
    .main [data-page="guide"] [data-page="organizations"] figure img {
      max-height: 100px;
      max-width: 100px; }
