@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/common\.scss}line{font-family:\00003134}}
.main .scoreboard:after {
  content: "";
  clear: both;
  display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/scoreboard\.scss}line{font-family:\000036}}
.main .scoreboard > .score {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #dbdbdb;
  float: left;
  text-align: right;
  width: 20%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/scoreboard\.scss}line{font-family:\0000313}}
  .main .scoreboard > .score:first-child {
    border-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/scoreboard\.scss}line{font-family:\0000317}}
  .main .scoreboard > .score > .description {
    color: #f1f1f1;
    font-weight: 800;
    line-height: 1.5;
    padding: 40px 20px 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/scoreboard\.scss}line{font-family:\0000324}}
  .main .scoreboard > .score.galaxy > .description {
    background: #9c62ee; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/scoreboard\.scss}line{font-family:\0000325}}
  .main .scoreboard > .score.cross > .description {
    background: #a20f32; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/scoreboard\.scss}line{font-family:\0000326}}
  .main .scoreboard > .score.cluster > .description {
    background: #db9f00; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/scoreboard\.scss}line{font-family:\0000327}}
  .main .scoreboard > .score.ghost > .description {
    background: #097d4e; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/scoreboard\.scss}line{font-family:\0000328}}
  .main .scoreboard > .score.classifications > .description {
    background: #001e29; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/akapadia\/Projects\/AndromedaProject\/src\/styles\/scoreboard\.scss}line{font-family:\0000330}}
  .main .scoreboard > .score > .count {
    font-size: 20px;
    line-height: 1;
    padding: 20px; }
